.git
.vscode
.idea
vscode
node_modules
yarn.lock

# Log file
*.log

# Temp files #
ts-example.js
ts-example.ts

# Other Files #
*.py
*.db
*.old
*.txt
*.json
*.7z
*.7zip
*.zip
*.tar.gz
*.rar
*.rtf
*.docx
*.pdf
*.png

